* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
  height: 100vh;
}

.gameScreen {
  display: flex;
  justify-content: center;
}

#gameCanvas {
  border: 2px solid black;
}
