* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameScreen {
  position: relative;
  width: 650px;
  height: 335px;
}

#gameCanvas {
  border: 5px solid black;
  width: 100%;
  height: 330px;
}

#gameStartScreen {
  width: 100%;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
}

button {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
