* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  align-content: space-around;
  background-color: #1b1b1b;
  color: #fbf5f3;
  display: grid;
  justify-content: center;
}

.controll-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gameCanvas {
  background: #5d5c5c;
  display: block;
  margin: auto;
}

#startButton {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-35%, -50%);
  padding: 1rem;
  border-radius: 10px;
}
