* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #1b1b1b;
  color: #fbf5f3;
  display: grid;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.controll-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  text-align: center;
}

#gameCanvas {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 1000px;
  max-height: 500px;
  box-shadow:
    0 0 40px 10px #0c6cac,
    0 0 0 4px #222 inset;
  border-radius: 16px;
  background: #222;
}

#startButton {
  margin: auto auto;
  height: 4rem;
  width: 15rem;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  font-size: 1.7rem;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  color: #00b436;
  background-color: #fbf5f3;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

#startButton:hover {
  background: linear-gradient(90deg, #00b436 0%, #0c6cac 100%);
  color: #fbf5f3;
  width: 18rem;
}

#startButton::after {
  transition: 0.5s;
}

#highScoreDisplay {
  text-align: center;
  font-size: 2rem;
  color: #ffd700;
  text-shadow: 2px 2px 8px #0c6cac;
  margin-bottom: 1rem;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
